@{
    ViewData["Title"] = "View";
}

<h1>View Cart</h1>

<div id="cart_container"></div>
<div>

</div>
<a class="button btn btn-primary" type="button" href="Checkout">Go to checkout</a>
<script src="~/js/Controller/ShoppingCartController.js" asp-append-version="true" type="module"></script>