@model Codecool.CodecoolShop.Models.CheckOutModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/CheckOutController.css" />

<!------ Include the above in your HEAD tag ---------->

<div class="container wrapper">
               
            <div class="cart-body">
                <form asp-action="ShowCheckOutCart" class="form-horizontal" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                    <!--SHIPPING METHOD-->
                    <div class="panel">
                        <div class="panel-info">
                        <div class="panel-heading">Billing</div>
                        <div class="panel-body">
                            
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Billing Details</h4>
                                </div>
                            </div>
                            </div>
                            <div class="form-group checkout-inline">
                                <div class="col-md-6 col-xs-12">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input type="text" name="first_name" asp-for="FirstName"  class="form-control" value="" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input type="text" name="last_name" asp-for="LastName" class="form-control" value="" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input type="text" name="email_address" asp-for="Email" class="form-control" value="" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input type="text" asp-for="PhoneNumber" name="phone_number" class="form-control" value="" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="BillingCountry" class="control-label"></label>
                                    <input type="text" class="form-control billing"  name="country" value="" />
                                    <span asp-validation-for="BillingCountry" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="BillingCity" class="control-label"></label>
                                    <input type="text" name="city" asp-for="BillingCity "  class="form-control billing" value="" />
                                    <span asp-validation-for="BillingCity" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="BillingZipCode" class="control-label"></label>
                                    <input type="text" name="zip_code" asp-for="BillingZipCode" class="form-control billing" value="" />
                                    <span asp-validation-for="BillingZipCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="BillingAddress" class="control-label"></label>
                                    <input type="text" name="address" asp-for="BillingAddress"  class="form-control billing" value="" />
                                    <span asp-validation-for="BillingAddress" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="isShippingBilling">Does the Billing Address match the Shipping Address?</label>
                                <input type="checkbox" name="checkbox" />
                            </div>
                            

                        </div>
                        </div>
                        
                    <div class="panel_2">
                        <div class="panel-info_2">
                        <div class="panel-heading">Address</div>

                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Shipping Address</h4>
                                </div>
                            </div>
                            </div>
                            <div class="form-group checkout-inline">
                                <div class="col-md-6 col-xs-12">
                                    <label asp-for="ShippingCountry" class="control-label"></label>
                                    <input asp-for="ShippingCountry" class="form-control shipping" />
                                    <span asp-validation-for="ShippingCountry" class="text-danger"></span>
                                </div>

                                <div class="span1"></div>
                                <div class="col-md-6 col-xs-12">
                                    <label asp-for="ShippingCity" class="control-label"></label>
                                    <input asp-for="ShippingCity" class="form-control shipping" />
                                    <span asp-validation-for="ShippingCity" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                     <label asp-for="ShippingZipCode" class="control-label"></label>
                                    <input asp-for="ShippingZipCode" class="form-control shipping" />
                                    <span asp-validation-for="ShippingZipCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label asp-for="ShippingAddress" class="control-label"></label>
                                    <input asp-for="ShippingAddress" class="form-control shipping" />
                                    <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                            <input id="checkOutSubmit" type="submit" value="Go to Payment" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                            
            
                   

                    
                </form>
            
            </div>
        </div>


<script src="~/js/Controller/CheckOutController.js" asp-append-version="true" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
