@model Codecool.CodecoolShop.Models.PaymentModel

@{
    ViewData["Title"] = "Payment";
}
<link rel="stylesheet" href="~/css/Paymentcss.css" />

<!--CREDIT CART PAYMENT-->
<form  asp-action="SuccessfullPayment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="panel panel-info">
    <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-12"><strong>Card Type:</strong></div>
            <div class="col-md-12">
                <select id="CreditCardType" name="CreditCardType" class="form-control">
                    <option value="5">Visa</option>
                    <option value="6">MasterCard</option>
                    <option value="7">American Express</option>
                    <option value="8">Discover</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12"><strong>Credit Card Number:</strong></div>
            <div class="col-md-12"><input type="text" asp-for="CardNumber" class="form-control" name="CardNumber" value="" />
                <span asp-validation-for="CardNumber" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <div class="col-md-12"><strong>Card CVV:</strong></div>
            <div class="col-md-12"><input type="text" asp-for="CVV" class="form-control" name="CVV" value="" />
                <span asp-validation-for="CVV" class="text-danger"></span></div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <strong>Expiration Date</strong>
             </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12"><input type="text" asp-for="ExpiryDateMonth" class="form-control" value="" />
                    <span asp-validation-for="ExpiryDateMonth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="col-md-12"><input type="text" asp-for="ExpiryDateYear" class="form-control" value="" />
                    <span asp-validation-for="ExpiryDateYear" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <span>Pay secure using your credit card.</span>
            </div>
            <div class="col-md-12">
                <ul class="cards">
                    <li class="visa hand">Visa</li>
                    <li class="mastercard hand">MasterCard</li>
                    <li class="amex hand">Amex</li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="form-group row col-12">
            <input id="payment-button" type="submit" value="Pay" class="btn btn-primary" />
        </div>
    </div>
</div>
<!--CREDIT CART PAYMENT END-->
 
</form>

<script src="~/js/Controller/ConfirmationController.js" asp-append-version="true" type="module"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
